<h1>
  <%= @listing.title %>
</h1>
<h3>
  $<%= "%.2f" % @listing[:price] %>/hour
</h3>
<p>
  <%= @listing.listing_description %>
</p>
<h2>Categories</h2>
<ul>
  <% @listing.categories.collect(&:name).each do |c| %>
    <li><%= c %></li>
  <% end %>
</ul>
<%= link_to 'Edit Listing Details', edit_listing_path, class: "btn btn-primary" %>
<%= link_to 'Edit Menu', new_menu_path, class: "btn btn-primary" %>
<div>
  <%= button_to 'Delete Listing', @listing, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this listing?" } } %>
</div>





