<h1>
  Booking for <%= link_to @booking.listing.title, @booking.listing %>
</h1>

<h2>Address:</h2>
<p><%= @booking.address %></p>

<h2>Date:</h2>
<p><%= @booking.date.strftime("%B %d, %Y") %></p>

<h2>Comments:</h2>
<p><%= @booking.comment %></p>

<%= link_to('Edit Booking', edit_booking_path, class: "btn btn-primary") if policy(Booking).update? %>
<div>
  <%= button_to('Cancel Booking', @booking, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this booking?" } }) %>
</div>